.aml-tv{
    width: 100%;
    height: 1080px;
    background: conic-gradient(from 180deg at 50% 50%, rgba(0, 0, 0, 0.5) 0deg, #002277 226.87deg, rgba(0, 0, 0, 0.5) 360deg), #002277; 
}
.menu_button{
  margin-top:10%;
    width: 465px;
    height: 100px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border: 6px solid #3E3693;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #000000;
}

.menu_border{
    width: 572px;
    height: 678px;
    background: linear-gradient(35.44deg, #000000 0%, rgba(0, 34, 119, 0) 100%), rgba(255, 255, 255, 0.1);
    border: 2px solid #01C2FF;
    box-sizing: border-box;
    border-radius: 47px;
}

.centered {
    position: fixed;
    top: 60%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
  .centered2 {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  //Spacing Between Buttons
  .top-buffer { margin-top:10%; }
  .top-buffer2 { margin-top:50%; }

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#FFFFFF, #FFC700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align:center;
  margin-top:-15%;
}
.cent{
display: block;
  margin-left: auto;
  margin-right: auto;
}