<div class="aml-tv">
    <img src="https://cdn.freebiesupply.com/logos/large/2x/who-wants-to-be-a-millionaire-logo-png-transparent.png" width="150px" height="150px" class="cent">
     <div class="centered">
         <h1>Main Menu</h1>
            <div class="menu_border">
                <div class="centered2">
                        <button type="button"  routerLink="/start" class="menu_button">Start</button>
                        <button type="button" routerLink="/highscores"class="menu_button">High Scores</button>
                        <button type="button" routerLink="/help"class="menu_button">Help</button>
                        <button type="button" routerLink="/exit" class="menu_button">Exit</button>
                </div>
            </div>
      </div>
</div>

