<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <title> Who Wants To Be a Millionaire </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
    <meta name="author" content="Giwrgos Mitsos 3660">
		<link rel="icon" type="image/png" href="https://cdn.freebiesupply.com/logos/large/2x/who-wants-to-be-a-millionaire-logo-png-transparent.png" />
		<link rel="stylesheet" type="text/css" href="">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    </head>
    <body>
        <button class="btn" routerLink="/phone-help"><i class="fa fa-arrow-left"></i></button> 
        <div id="logo"></div>
        <h1>Commands And Gestures</h1>
        <div id="container">
          <div id="modality_background" style="background-image: url(https://static.thenounproject.com/png/821139-200.png); margin-top: 2%;"></div>
            <p id="p_info_header" style="margin-top:-10%">Voice Commands</p>
            <p id="p_info">When you see this icon on the top right corner of the screen, you can use Voice Commands to make certain actions. A complete list of these commands is described above.</p>
            <p id="p_info">&bull; "Previous Page" : Use this command to navigate to the previous displayed page</p>
            <p id="p_info">&bull; Name of Button  : Say the name of each button to navigate to each selection</p>
            <p id="p_info">&bull; "Instant Replay": Use this command to view an instant replay in the TV</p>
            <p id="p_info">&bull; "Next Hashtag"  : Use this command to view the next hashtag in the SurroundWall</p>
            <p id="p_info">&bull; "Start The Game": Use this command to initialize the game</p>
          <div id="modality_background" style="background-image: url(https://cdn3.iconfinder.com/data/icons/hand-gestures-line-art/128/hands-raising-celebration-512.png); margin-top: 2%;"></div>
            <p id="p_info_header" style="margin-top:-10%">Air Gestures</p>
            <p id="p_info">When you see this icon on the top right corner of the screen, you can use Air Gestures to make certain actions. A complete list of these commands is described above.</p>
            <p id="p_info">&bull; Open your palm<img src="https://i.ibb.co/Bzfxzxf/imageedit-5-4599383381.png" style="width: 5%; position: relative;">and then close it into a fist <img src="https://i.ibb.co/g6ytcPL/Rectangle-79.png" style="position: relative; width: 4%;"> to take a screenshot of the instant replay</p>

        </div>

    </body>

</html>
