<div class="aml-tv">
    <img src="https://cdn.freebiesupply.com/logos/large/2x/who-wants-to-be-a-millionaire-logo-png-transparent.png" width="150px" height="150px" class="cent">
    <button class="btn" routerLink="/amltv"><i class="fa fa-arrow-left"></i></button> 
    <ul>
        <li><div class="coloredbox">
            <p>Vasilis</p>
            <div id="circle"></div>
            <div id="pointer">500000$</div>
            <textarea id="w3review" name="w3review" rows="4" cols="50">
                Easy peazy lemon squizy
                </textarea>
        
        </div></li>
        <li><div class="coloredbox">
            <p>Greg</p>
            <div id="circle"></div>
            <div id="pointer">5000$</div>
            <textarea id="w3review" name="w3review" rows="4" cols="50">
                That guy ( ^ ) is a pain in the *ss 
                </textarea>
        </div></li>
        <li><div class="coloredbox">
            <p>George</p>
            <div id="circle"></div>
            <div id="pointer">200000$</div>
            <textarea id="w3review" name="w3review" rows="4" cols="50">
                This player has not make a statement.
                </textarea>
        </div></li>
    </ul>
    
</div>

