body{
    position: absolute;
    width: 100%;
    height: 100%;
    background: conic-gradient(from 180deg at 50% 50%, #002277 -133.13deg, rgba(0, 0, 0, 0.5) 61.87deg, #002277 226.87deg, rgba(0, 0, 0, 0.5) 421.87deg), #002277;
}

#logo{
    position: absolute;
    width: 7.8%;
    height : 13.8%;
    background: url(https://cdn.freebiesupply.com/logos/large/2x/who-wants-to-be-a-millionaire-logo-png-transparent.png) no-repeat center center;
    background-size:  contain;
    margin-left: 46.2%;
    margin-top: 2%;
}

#button_container{
    width: 30%;
    height: 62%;
    position: absolute;
    margin-left:35.1%;
    margin-top: 0%;
    background: linear-gradient(35.44deg, #000000 0%, rgba(0, 34, 119, 0) 100%), rgba(255, 255, 255, 0.1);
    border: 2px solid #01C2FF;
    box-sizing: border-box;
    border-radius: 10%;
    padding-top: 1%;
}



.btn {
    border: none;
    padding: 12px 16px;
    font-size: 5vh;
    cursor: pointer;
    color: #FFC700;
    position: absolute;
    top: 8px;
    left: 16px;
    visibility: visible;
}

h1{
 color: #FFC700;
 margin-top: 9%;
 font-style: normal;
 font-weight: normal;
 font-size: 10vh;
 text-align: center;
}

.selection{
position: absolute;
display: inline-block;
font-weight: 700;
font-size: 3vh;
width: 90%;
height: 17%;
background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
border: 6px solid #3E3693;
box-sizing: border-box;
border-radius: 15px;
}