<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <title> Who Wants To Be a Millionaire </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
		<link rel="icon" type="image/png" href="https://cdn.freebiesupply.com/logos/large/2x/who-wants-to-be-a-millionaire-logo-png-transparent.png" />
		<link rel="stylesheet" type="text/css" href="">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    </head>
    <body>
        <div id="logo"></div>
        <div id="button_container">
            <h1>Main Menu</h1>
            <input type="text" placeholder="Enter your name" id="name">
            <button class="selection" style="margin-top: 32%; margin-left:5%" (click)="setName();navigator();">Join Live</button>
            <button class="selection" style="margin-top: 56%; margin-left:5%" routerLink="/phone-help">Help</button>
            <button class="selection" style="margin-top: 80%; margin-left:5%" routerLink="/exit">Exit</button>
        </div>

    </body>

</html>
