            <!DOCTYPE html>
            <html>
                <head>
                    <meta charset="UTF-8">
                <title> Who Wants To Be a Millionaire </title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="viewport" content="height=device-height, initial-scale=1.0">
                    <link rel="icon" type="image/png" href="https://cdn.freebiesupply.com/logos/large/2x/who-wants-to-be-a-millionaire-logo-png-transparent.png" />
                    <link rel="stylesheet" type="text/css" href="">
                    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
                </head>
                <body>
                    <button class="btn" routerLink="/help"><i class="fa fa-arrow-left"></i></button> 
                    <div id="logo"></div>
                    <h1>Commands and Gestures</h1>
                    <div id="container">
                        <div class="sw_modality2" style="margin-left: 90px;margin-top: 30px"></div>
                        <img src="https://static.thenounproject.com/png/821139-200.png" class="imgSpeak2">
                        <p id="p_info" style="margin-left: 17%;font-size: 59px;margin-top: -140px;">Voice and Commands </p>
                        <p id="p_info" style="margin-left: 260px;">When you see this icon on the top right corner of the screen, you can use Voice Commands to make certain actions. A complete list of these commands is described above.</p>
                        <p id="p_info" style="margin-left: 260px;">• “Previous Page”  : Use this command to navigate to the previous displayed screen.</p>
                        <p id="p_info" style="margin-left: 260px;">• Name of Button  : Say the name of each button to select it. </p>
                        <p id="p_info" style="margin-left: 260px;">   • “Instant Replay”  : Use this command to view an instant replay on the SurroundWall. </p>
                        <p id="p_info" style="margin-left: 260px;">    • “Next Hashtag”   : Use this command to view the next hashtag in the SurroundWall </p>
                        <p id="p_info" style="margin-left: 260px;">    • “Start the Game” : Use this command to initialize the game </p>

                        <div class="sw_modality2" style="margin-left: 90px;margin-top: 80px"></div>
                        <img src="https://cdn3.iconfinder.com/data/icons/hand-gestures-line-art/128/hands-raising-celebration-512.png" class="imgHands">
                        <p id="p_info" style="margin-left: 17%;font-size: 59px;margin-top: -140px;">Air Gestures</p>
                        <p id="p_info" style="margin-left: 260px;">When you see this icon on the top right corner of the screen, you can use Air Gestures to make certain actions. A complete list of these commands is described above.</p>
                        <p id="p_info" style="margin-left: 260px;">&bull; Open your palm<img src="https://i.ibb.co/Bzfxzxf/imageedit-5-4599383381.png" style="width: 5%; position: relative;">and then close it into a fist <img src="https://i.ibb.co/g6ytcPL/Rectangle-79.png" style="position: relative; width: 4%;"> to take a screenshot of the instant replay.</p>
                    </div>
                    <div class="sw_modality"></div>
                    <img src="https://static.thenounproject.com/png/821139-200.png" class="imgSpeak">
                    <div class="sw_modality3"></div>
                    <img src="https://cdn3.iconfinder.com/data/icons/hand-gestures-line-art/128/hands-raising-celebration-512.png" class="imgHand">
                </body>
            
            </html>
                       