<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <title> Who Wants To Be a Millionaire </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
    <meta name="author" content="Giwrgos Mitsos 3660">
		<link rel="icon" type="image/png" href="https://cdn.freebiesupply.com/logos/large/2x/who-wants-to-be-a-millionaire-logo-png-transparent.png" />
		<link rel="stylesheet" type="text/css" href="">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    </head>
    <body>
        <button class="btn" routerLink="/phone-help"><i class="fa fa-arrow-left"></i></button> 
        <div id="logo"></div>
        <h1>Lifelines</h1>
        <div id="container">
          <div id="lifeline_background" style="background-image: url(https://i.ibb.co/yfK58wz/Ellipse-23.png); margin-top: 2%;"></div>
            <p id="p_info_header" style="margin-top:-10%">Sabotage</p>
            <p id="p_info">Use this to instantly make your opponent's answers move around randomly</p>
            <p id="p_info">to make it hard for them to select the right answer. Get extra points if</p>
            <p id="p_info">your opponents fail to answer the question.</p><br>
          <div id="lifeline_background" style="background-image: url(https://i.ibb.co/C1smRJY/Group-49.png); margin-top: 2%;"></div>
            <p id="p_info_header" style="margin-top:-10%">Pass</p>
            <p id="p_info">Use this to pass the current question without any cost. In the</p>
            <p id="p_info">end of the round you will not receive any points.</p><br>
          <div id="lifeline_background2" style="background-image: url(https://caminobarcelona.com/Millionaire/pictures/Classic5050.png); margin-top: 2%;"></div>
            <p id="p_info_header" style="margin-top:-10%">50 : 50 (TV - Show Only)</p>
            <p id="p_info">The player of the show will be able to choose one of two</p>
            <p id="p_info">instead of four potential answers.</p><br>
          <div id="lifeline_background2" style="background-image: url(https://i.ibb.co/LhNgZdP/Classic-ATA-1.png); margin-top: 2%;"></div>
            <p id="p_info_header" style="margin-top:-10%">Ask the Audiance (TV - Show Only)</p>
            <p id="p_info">The player of the show will be able to see the audiance</p>
            <p id="p_info">distribution between each answer.</p><br>
          <div id="lifeline_background2" style="background-image: url(https://caminobarcelona.com/Millionaire/pictures/phoneAFriend.png); margin-top: 2%;"></div>
            <p id="p_info_header" style="margin-top:-10%">Phone a Friend (TV - Show Only)</p>
            <p id="p_info">The player of the show will be able to phone a friend</p>
            <p id="p_info">in order to help him answer the question.</p>
            

        </div>

    </body>

</html>
<p>lifelines-phone works!</p>
